.grey {
  background: lightgrey;
  width: 200px;
  height: 100px;
  display: inline-block;
}

.green {
  background-color: green;
  width: 200px;
  height: 100px;
  display: inline-block;
}
